head
    title CoursePlan

    meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=0")
    meta(name="google-signin-client_id" content="1095164570247-c9sab3j041qg3dvr5df0im3i8ehrmlpo.apps.googleusercontent.com")

    link(href="assets/css/main.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet")