// text
$main-text: #888
$link: #5fa
$loading-screen-text: $main-text
$app-text: #ccc
$toolbar-text: #ccc
$button-text: #ccc
$sign-out: $button-text
$start-text: $link
$profile-name-text: $link

// bg
$loading-screen-bg: #333
$signin-bg: $loading-screen-bg
$toolbar: #555
$main-bg: #3a3a3a
$button-bg: $toolbar