/* line 1, docs/src/sass/tools/_reset.sass */
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 1, docs/src/sass/tools/_normalize.sass */
html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #aaa;
  line-height: 1.5;
  height: 100%;
  position: relative; }

/* line 9, docs/src/sass/tools/_normalize.sass */
html * {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  user-drag: none;
  vertical-align: baseline; }

/* line 14, docs/src/sass/tools/_normalize.sass */
body {
  background-color: #3a3a3a;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 22, docs/src/sass/tools/_normalize.sass */
hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* line 27, docs/src/sass/tools/_normalize.sass */
a {
  color: #5fa;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  /* line 32, docs/src/sass/tools/_normalize.sass */
  a:hover, a:active, a:focus {
    border-bottom: 1px solid #5fa; }

/* line 35, docs/src/sass/tools/_normalize.sass */
p {
  max-width: 26em; }

/* line 38, docs/src/sass/tools/_normalize.sass */
ul {
  list-style: none; }

/* line 1, docs/src/sass/parts/_loading.sass */
.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  height: 100vh;
  width: 100%;
  background-color: #333;
  color: #aaa;
  -webkit-animation: fade-in 2.5s 0s ease-in forwards;
          animation: fade-in 2.5s 0s ease-in forwards;
  position: fixed;
  top: 0;
  left: 0; }

@-webkit-keyframes fade-in {
  0% {
    z-index: 999;
    opacity: 1; }
  75% {
    z-index: 999;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -999; } }

@keyframes fade-in {
  0% {
    z-index: 999;
    opacity: 1; }
  75% {
    z-index: 999;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -999; } }

/* line 1, docs/src/sass/parts/_signin.sass */
.signin-page {
  height: 100vh;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 5;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  /* line 12, docs/src/sass/parts/_signin.sass */
  .signin-page .start-app {
    color: #5fa; }
  /* line 16, docs/src/sass/parts/_signin.sass */
  .signin-page .profile .name {
    font-size: 90%;
    color: #5fa !important; }
  /* line 20, docs/src/sass/parts/_signin.sass */
  .signin-page.close {
    background-color: #555;
    bottom: calc(100vh - 2.5rem);
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
    /* line 22, docs/src/sass/parts/_signin.sass */
    .signin-page.close * {
      color: #ccc !important; }
    /* line 24, docs/src/sass/parts/_signin.sass */
    .signin-page.close .button {
      background-color: #555; }
    /* line 29, docs/src/sass/parts/_signin.sass */
    .signin-page.close .start-app, .signin-page.close .title {
      display: none; }
    /* line 31, docs/src/sass/parts/_signin.sass */
    .signin-page.close .sign-out {
      right: 0rem;
      top: 0rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      position: fixed; }
    /* line 36, docs/src/sass/parts/_signin.sass */
    .signin-page.close .profile {
      left: 0.5rem;
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: row !important;
              flex-direction: row !important;
      position: fixed;
      top: 0.5rem;
      height: 1.5rem !important;
      width: auto !important; }
      /* line 43, docs/src/sass/parts/_signin.sass */
      .signin-page.close .profile .face {
        background-size: 2rem 2rem !important;
        height: 2rem !important;
        width: 2rem !important;
        margin-bottom: 0 !important; }
      /* line 49, docs/src/sass/parts/_signin.sass */
      .signin-page.close .profile .name {
        margin-left: 0.5rem; }
  /* line 52, docs/src/sass/parts/_signin.sass */
  .signin-page .title {
    margin-bottom: 0.5rem; }
  /* line 55, docs/src/sass/parts/_signin.sass */
  .signin-page .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    /* line 56, docs/src/sass/parts/_signin.sass */
    .signin-page .buttons .button {
      margin: 0.25rem; }
      /* line 58, docs/src/sass/parts/_signin.sass */
      .signin-page .buttons .button.sign-out {
        color: #ccc; }
        /* line 60, docs/src/sass/parts/_signin.sass */
        .signin-page .buttons .button.sign-out:hover, .signin-page .buttons .button.sign-out:focus, .signin-page .buttons .button.sign-out:active {
          border-color: #ccc; }
  /* line 65, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-in) .profile {
    height: 0; }
  /* line 67, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-in) .button, .signin-page:not(.signed-in) .profile, .signin-page:not(.signed-in) .name {
    opacity: 0;
    visibility: hidden; }
  /* line 70, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-in) .g-signin2 {
    height: auto;
    opacity: 1;
    visibility: visible; }
  /* line 76, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: 200px; }
    /* line 81, docs/src/sass/parts/_signin.sass */
    .signin-page.signed-in .profile .face {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin-bottom: 1rem; }
  /* line 87, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .button, .signin-page.signed-in .profile, .signin-page.signed-in .name {
    opacity: 1;
    visibility: visible; }
  /* line 90, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .g-signin2 {
    height: 0;
    opacity: 0;
    visibility: hidden; }

/* line 1, docs/src/sass/parts/_button.sass */
.button, .g-signin2 {
  padding: 0.2rem 0.75rem 0.2rem 0.75rem;
  background-color: #555;
  color: #ccc;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); }

/* line 7, docs/src/sass/parts/_button.sass */
.g-signin2 * {
  background-color: #555;
  border: 0;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 100% !important;
  color: #ccc !important; }

/* line 1, docs/src/sass/parts/_app.sass */
.app-screen {
  color: #ccc;
  width: 100%;
  position: fixed;
  top: 2.5rem;
  left: 0;
  z-index: 0;
  padding: 1rem;
  bottom: 0;
  height: calc(100% - 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 13, docs/src/sass/parts/_app.sass */
  .app-screen:not(.started) {
    display: none; }
  /* line 16, docs/src/sass/parts/_app.sass */
  .app-screen #static {
    position: fixed;
    top: 50%;
    cursor: move;
    z-index: 10; }
  /* line 23, docs/src/sass/parts/_app.sass */
  .app-screen .bird-tunes li {
    cursor: pointer;
    position: fixed;
    top: calc(50vh - 48px);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    width: 150px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 100%;
    height: 5.5ch;
    line-height: 1;
    font-size: 18px; }
    /* line 37, docs/src/sass/parts/_app.sass */
    .app-screen .bird-tunes li:hover {
      background-color: #626262; }

/* line 1, docs/src/sass/parts/_swarm.sass */
.swarm {
  background-color: #faa;
  background: url("/assets/images/bird.png") center center no-repeat;
  background-size: 50px 50px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 50px;
  height: 50px;
  z-index: -2;
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

/* line 1, docs/src/sass/parts/_info.sass */
.info-screen {
  background-color: #555;
  position: fixed;
  max-width: 20em;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 8, docs/src/sass/parts/_info.sass */
  .info-screen a {
    z-index: 777; }
  /* line 11, docs/src/sass/parts/_info.sass */
  .info-screen ul {
    margin-left: 1rem;
    list-style: default; }
  /* line 14, docs/src/sass/parts/_info.sass */
  .info-screen.opened {
    top: 2.5rem; }
    /* line 15, docs/src/sass/parts/_info.sass */
    .info-screen.opened i, .info-screen.opened ul * {
      height: 1.5;
      opacity: 1; }
  /* line 19, docs/src/sass/parts/_info.sass */
  .info-screen:not(.opened) {
    top: 1rem; }
    /* line 20, docs/src/sass/parts/_info.sass */
    .info-screen:not(.opened) i, .info-screen:not(.opened) ul * {
      height: 0;
      opacity: 0; }
