/* line 1, docs/src/sass/tools/_reset.sass */
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 1, docs/src/sass/tools/_normalize.sass */
html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  line-height: 1.5;
  height: 100%;
  position: relative; }

/* line 9, docs/src/sass/tools/_normalize.sass */
html * {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  user-drag: none;
  vertical-align: baseline; }

/* line 14, docs/src/sass/tools/_normalize.sass */
body {
  background-color: #fff;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 22, docs/src/sass/tools/_normalize.sass */
hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* line 27, docs/src/sass/tools/_normalize.sass */
a {
  color: #00f;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  /* line 32, docs/src/sass/tools/_normalize.sass */
  a:hover, a:active, a:focus {
    border-bottom: 1px solid #00f; }

/* line 35, docs/src/sass/tools/_normalize.sass */
p {
  max-width: 26em; }

/* line 38, docs/src/sass/tools/_normalize.sass */
ul {
  list-style: none; }

/* line 1, docs/src/sass/parts/_loading.sass */
.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #888;
  -webkit-animation: fade-in 2.5s 0s ease-in forwards;
          animation: fade-in 2.5s 0s ease-in forwards;
  position: fixed;
  top: 0;
  left: 0; }

@-webkit-keyframes fade-in {
  0% {
    z-index: 999;
    opacity: 1; }
  75% {
    z-index: 999;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -999; } }

@keyframes fade-in {
  0% {
    z-index: 999;
    opacity: 1; }
  75% {
    z-index: 999;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -999; } }

/* line 1, docs/src/sass/parts/_signin.sass */
.signin-page {
  height: 100vh;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); }
  /* line 10, docs/src/sass/parts/_signin.sass */
  .signin-page.close {
    bottom: calc(100vh - 2.5rem);
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
    /* line 13, docs/src/sass/parts/_signin.sass */
    .signin-page.close .start-app, .signin-page.close .title {
      display: none; }
    /* line 15, docs/src/sass/parts/_signin.sass */
    .signin-page.close .sign-out {
      right: 0rem;
      top: 0rem;
      -webkit-box-shadow: none;
              box-shadow: none;
      position: fixed; }
    /* line 20, docs/src/sass/parts/_signin.sass */
    .signin-page.close .profile {
      left: 0.5rem;
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: row !important;
              flex-direction: row !important;
      position: fixed;
      top: 0.5rem;
      height: 1.5rem !important;
      width: auto !important; }
      /* line 27, docs/src/sass/parts/_signin.sass */
      .signin-page.close .profile .face {
        background-size: 2rem 2rem !important;
        height: 2rem !important;
        width: 2rem !important;
        margin-bottom: 0 !important; }
      /* line 33, docs/src/sass/parts/_signin.sass */
      .signin-page.close .profile .name {
        margin-left: 0.5rem; }
  /* line 36, docs/src/sass/parts/_signin.sass */
  .signin-page .title {
    margin-bottom: 0.5rem; }
  /* line 39, docs/src/sass/parts/_signin.sass */
  .signin-page .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    /* line 40, docs/src/sass/parts/_signin.sass */
    .signin-page .buttons .button {
      margin: 0.25rem; }
      /* line 42, docs/src/sass/parts/_signin.sass */
      .signin-page .buttons .button.sign-out {
        color: red; }
        /* line 44, docs/src/sass/parts/_signin.sass */
        .signin-page .buttons .button.sign-out:hover, .signin-page .buttons .button.sign-out:focus, .signin-page .buttons .button.sign-out:active {
          border-color: red; }
  /* line 49, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-in) .profile {
    height: 0; }
  /* line 51, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-in) .button, .signin-page:not(.signed-in) .profile, .signin-page:not(.signed-in) .name {
    opacity: 0;
    visibility: hidden; }
  /* line 54, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-in) .g-signin2 {
    height: auto;
    opacity: 1;
    visibility: visible; }
  /* line 60, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    height: 200px; }
    /* line 65, docs/src/sass/parts/_signin.sass */
    .signin-page.signed-in .profile .face {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin-bottom: 1rem; }
  /* line 71, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .button, .signin-page.signed-in .profile, .signin-page.signed-in .name {
    opacity: 1;
    visibility: visible; }
  /* line 74, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .g-signin2 {
    height: 0;
    opacity: 0;
    visibility: hidden; }

/* line 1, docs/src/sass/parts/_button.sass */
.button {
  padding: 0.2rem 0.75rem 0.2rem 0.75rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); }
