/* line 1, docs/src/sass/tools/_reset.sass */
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 1, docs/src/sass/tools/_normalize.sass */
html {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  line-height: 1.5;
  height: 100%;
  position: relative; }

/* line 9, docs/src/sass/tools/_normalize.sass */
html * {
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  user-drag: none;
  vertical-align: baseline; }

/* line 14, docs/src/sass/tools/_normalize.sass */
body {
  background-color: #fff;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 22, docs/src/sass/tools/_normalize.sass */
hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* line 27, docs/src/sass/tools/_normalize.sass */
a {
  color: #00f;
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  /* line 32, docs/src/sass/tools/_normalize.sass */
  a:hover, a:active, a:focus {
    border-bottom: 1px solid #00f; }

/* line 35, docs/src/sass/tools/_normalize.sass */
p {
  max-width: 26em; }

/* line 38, docs/src/sass/tools/_normalize.sass */
ul {
  list-style: none; }

/* line 1, docs/src/sass/parts/_loading.sass */
.loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #888;
  -webkit-animation: fade-in 2.5s 0s ease-in forwards;
          animation: fade-in 2.5s 0s ease-in forwards;
  position: fixed;
  top: 0;
  left: 0; }

@-webkit-keyframes fade-in {
  0% {
    z-index: 999;
    opacity: 1; }
  75% {
    z-index: 999;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -999; } }

@keyframes fade-in {
  0% {
    z-index: 999;
    opacity: 1; }
  75% {
    z-index: 999;
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -999; } }

/* line 1, docs/src/sass/parts/_signin.sass */
.signin-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  /* line 6, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-out) .profile {
    height: 0; }
  /* line 8, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-out) .sign-out, .signin-page:not(.signed-out) .profile {
    opacity: 0;
    visibility: hidden; }
  /* line 11, docs/src/sass/parts/_signin.sass */
  .signin-page:not(.signed-out) .g-signin2 {
    height: auto;
    opacity: 1;
    visibility: visible; }
  /* line 17, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
    height: 200px; }
    /* line 20, docs/src/sass/parts/_signin.sass */
    .signin-page.signed-in .profile .face {
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin-bottom: 1rem; }
  /* line 26, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .sign-out, .signin-page.signed-in .profile {
    opacity: 1;
    visibility: visible; }
  /* line 29, docs/src/sass/parts/_signin.sass */
  .signin-page.signed-in .g-signin2 {
    height: 0;
    opacity: 0;
    visibility: hidden; }
  /* line 34, docs/src/sass/parts/_signin.sass */
  .signin-page .label {
    margin-bottom: 1rem; }
