.app-screen
    ul.bird-tunes
        li.bird-tune 
            .name bird1
            .icon
        li.bird-tune 
            .name bird2
            .icon
        li.bird-tune 
            .name bird3
            .icon
        li.bird-tune 
            .name bird4
            .icon
        li
            .name none