.app-screen
    #time
    #static
    ul.bird-tunes
        li.bird-tune 
            .name
            .icon
        li.bird-tune 
            .name
            .icon
        li.bird-tune 
            .name
            .icon
        li.bird-tune 
            .name
            .icon
        li.bird-tune
            .name
            .icon
//-
        div
            input#option1(type="radio", onclick="handle(this.value)", name="options", value="A")
            label(for="option1") A
            span#countA 0
        div
            input#option2(type="radio", onclick="handle(this.value)", name="options", value="B")
            label(for="option2") B
            span#countB 0
        div
            input#option3(type="radio", onclick="handle(this.value)", name="options", value="C")
            label(for="option3") C
            span#countC 0
        div
            input#option4(type="radio", onclick="handle(this.value)", name="options", value="D")
            label(for="option4") D
            span#countD 0
        div
            input#option5(type="radio", onclick="handle(this.value)", name="options", value="NC")
            label(for="option5") NC
            span#countNC 0
