.info-screen
    i Identify the anonymous avian
    ul
        li If one of the birds identifies the mystery bird, move towards that bird
        li If none of the calls identify the mytery bird, move towards the mystery bird
    br
    a(href="#" onclick="information(); return false;") Information