.info-screen
    i Identify the anonymous avian
    ul
        li If one of the calls matches the name of the bird, move towards that bird
        li If the calls to do not match the named birds, move towards the mystery bird
    br
    a(href="#" onclick="information(); return false;") Information