.signin-page
    h1.title Bird Song
    .profile
        .face
        .name
    a.g-signin2.button(data-onsuccess="onSignIn")
    .buttons
        a.sign-out.button(href="#" onclick="signOut(); return false;") Sign out
        a.start-app.button(href="#" onclick="startApp(); return false;") Start