script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="https://yoannmoinet.github.io/nipplejs/javascripts/nipplejs.js")
script(src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer)
script(src="https://apis.google.com/js/platform.js" async defer)
script(type='text/javascript' src="assets/js/main.js")
script(type='text/javascript' src="assets/js/client.js")
