doctype html
html
    include templates/_head.pug

    body
        include parts/_app.pug
        include parts/_swarm.pug
        include parts/_info.pug
        include parts/_signin.pug
        include parts/_loading.pug
        include _scripts.pug