.swarm
    background-color: #faa
    background: url("/assets/images/bird.png") center center no-repeat
    background-size: 50px 50px
    filter: invert(100%)
    width: 50px
    height: 50px
    z-index: -2
    position: fixed
    top: calc(50% - 25px)
    left: calc(50% - 25px)
    transform-origin: center center